.request-container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .request-title{
    font-size: 30px;
    font-weight: bold;
  }
  .request-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
    padding: 50px;
    .form-detail{
      display: flex;
      gap: 10px;
      align-items: center;
      .employeeid-input{
        border: none;
      }
      .form-input{
        padding: 5px;
        &:focus{
          outline: none!important;
        }
      }
    }
    .form-select{
       padding: 5px;
       width: 50%;
       &:focus{
        outline: none!important;
      }
    }
    .form-button{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-top: 20px;
      .button-submit{
        background-color:  rgb(76, 124, 255);
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: white;
      }
      .button-cancel{
        background-color:  rgb(255, 76, 76);
        border: none;
        padding: 10px;
        border-radius: 10px;
        color: white;
        text-decoration: none;
      }
    }
  }
}