.home_container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  .home_card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 35%;
    gap: 30px;
    -webkit-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px 1px rgba(0,0,0,0.75);
    border-radius: 5px;
    .home_card1_title{
      font-weight: bold;
      font-size: 30px;
    }
    .home_card1_content{
      font-size: 18px;
      line-height: 25px;
    }
    .home_card1_button{
      padding: 10px 20px;
      border: none;
      background-color: rgb(245, 74, 74);
      color: white;
      border-radius: 5px;
    }
  }
}